{% extends 'base/base.html' %}
{% load bootstrap5 %}

{% block title %}
  Rejestracja
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="display-3 text-center">Rejestracja</h1>
    
    <div class="row justify-content-center">
      <div class="col-md-7">
        <form method="POST" action="/users/register/" class="mt-4 p-4 border rounded shadow bg-light">
          {% csrf_token %}
          
          {% bootstrap_form form %}
          
          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Zarejestruj się</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
