{% extends 'base/base.html' %}
{% load bootstrap5 %}

{% block title %}
  Business Cards
{% endblock %}

{% block content %}
  <section>
    <p class="display-1 m-5">Business Cards</p>

    <div class="row justify-content-center">
      {% for card in cards %}
        <div class="col-auto card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">{{ card.full_name }}</h3>
            <h4 class="card-subtitle mb-2 text-muted">{{ card.company_name }}</h4>
            <p class="card-text">
              <figure class="text-end">
                <blockquote class="blockquote">
                  <p>{{ card.updated_at }}</p>
                </blockquote>
                <figcaption class="blockquote-footer">Last update</figcaption>
              </figure>
            </p>
          </div>
        </div>
        <p></p>
      {% endfor %}
    </div>
  </section>
{% endblock %}
