{% extends 'base/base.html' %}
{% load bootstrap_icons %}

{% block title %}
  {{ card.full_name }} | Business Card
{% endblock %}

{% block content %}
  <section class="container my-5">
    <div class="card shadow-lg p-4" style="max-width: 600px; margin: auto;">
      <div class="card-body text-center">
        <h2 class="card-title fw-bold">{{ card.full_name }}</h2>
        <h4 class="card-subtitle text-muted">{{ card.company_name }}</h4>

        <hr class="my-3" />

        <div class="contact-info text-start">
          <p>
            <strong>{% bs_icon 'phone' %} Phone:</strong> 
          </p>
          <p class="display-6 mb-2">
            {{ card.phone_number }}
          </p>
          <p>
            <strong>{% bs_icon 'envelope-at-fill' %} Email:</strong> 
          </p>
          <p class="display-6 mb-2">
            <a href="mailto:{{ card.email }}">{{ card.email }}</a>
          </p>
        </div>

        <ul class="mt-5 mb-2 nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="slug-tab" data-bs-toggle="tab" data-bs-target="#slug" type="button" role="tab" aria-controls="slug" aria-selected="true">Slug</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="uuid-tab" data-bs-toggle="tab" data-bs-target="#uuid" type="button" role="tab" aria-controls="uuid" aria-selected="false">UUID</button>
          </li>
        </ul>
        <div class="my-3 tab-content" id="urlTabContent">
          <div class="tab-pane fade show active" id="slug" role="tabpanel" aria-labelledby="slug-tab">
            <figure class="text-start">
                <blockquote class="blockquote">
                  <p>Slug</p>
                </blockquote>
                <figcaption class="blockquote-footer">Dynamiczny, edytowalny link do profilu</figcaption>
              </figure>

            <a href="{% url 'card:page_by_slug' identifier=card.slug %}">{{ card.slug }}</a>
          </div>
          <div class="tab-pane fade" id="uuid" role="tabpanel" aria-labelledby="uuid-tab">
            <figure class="text-start">
                <blockquote class="blockquote">
                  <p>UUID</p>
                </blockquote>
                <figcaption class="blockquote-footer">Statyczny link do profilu, primary_key w bazie danych</figcaption>
              </figure>

            <a href="{% url 'card:page_by_id' identifier=card.id %}">{{ card.id }}</a>
          </div>
        </div>      

        <a href="{% url 'card:list' %}" class="btn btn-primary mt-3">Wróć do listy wizytówek</a>
      </div>
      <div class="card-footer text-muted text-center">
        <p class="text-muted small">Created: {{ card.created_at|date:'d M Y, H:i' }}</p>
        <p class="text-muted small">Last Updated: {{ card.updated_at|date:'d M Y, H:i' }}</p>
      </div>
    </div>
  </section>
{% endblock %}
