{% extends 'base/base.html' %}

{% block title %}
  Business Cards
{% endblock %}

{% block content %}
  <section>
    <p class="display-1 m-5">Business Cards</p>

      {% comment %} <div class="row row-cols-1 row-cols-md-3 g-4 mx-4"> {% endcomment %}
      <div class="row">
      {% for card in cards %}
      <div class="col m-3">
        <div class="card" style="max-width: 20rem;">
          {% if card.image %}
            <img src="{{ card.image.url }}" class="card-img-top" alt="{{ card.full_name }}" />
          {% endif %}
          <div class="card-body">
            <h3 class="card-title"><a href="{% url 'card:page_by_slug' identifier=card.slug %}">{{ card.full_name }}</a></h3>
            <h4 class="card-subtitle mb-2 text-muted">{{ card.company_name }}</h4>
            <p class="card-text">
              <figure class="text-end">
                <blockquote class="blockquote">
                  <p>{{ card.updated_at }}</p>
                </blockquote>
                <figcaption class="blockquote-footer">Last update</figcaption>
              </figure>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
