<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Niewiaro
        {% endblock %}
    </title>

    {% load static %}
    <link rel ="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
    <script src="{% static 'js/main.js' %}" defer></script>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load bootstrap_icons %}
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-xxl">
            <a class="navbar-brand" href="{% url 'main:homepage' %}">
                <span class="fw-bolder text-secoundary"  aria-label="Homepage" title="Homepage">
                    {% bs_icon 'wifi' %} Networking {% bs_icon 'gear-wide-connected' %}
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                <ul class="navbar-nav">

                    {% if user.is_authenticated %}

                        {% comment %} Cards list {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'card:list' %}">
                                <span>
                                    {% bs_icon 'card-checklist' %} Wizytówki
                                </span>
                            </a>
                        </li>

                        {% comment %} Card {% endcomment %}
                        <li class="nav-item d-md-none">
                            <a class="nav-link" href="{% url 'card:new' %}">
                                <span>
                                    {% bs_icon 'person-vcard-fill' %} Nowa wizytówka
                                </span>
                            </a>
                        </li>
                        <li class="nav-item mx-2 d-none d-md-inline">
                            <a class="btn btn-secondary" href="{% url 'card:new' %}">
                                <span aria-label="Login" title="Login">
                                    {% bs_icon 'person-vcard-fill' %} Nowa wizytówka
                                </span>
                            </a>
                        </li>

                        {% comment %} Logout {% endcomment %}
                        <li class="nav-item">
                            <form action="{% url 'users:logout' %}" method="post">
                                {% csrf_token %}

                                <button class="d-md-none btn btn-link nav-link text-decoration-none">
                                    <span aria-label="Logout" title="Logout">
                                        {% bs_icon 'dash-square-dotted' %} Wyloguj
                                    </span>
                                </button>

                                <button class="mx-2 d-none d-md-inline btn btn-outline-secondary">
                                    <span aria-label="Logout" title="Logout">
                                        {% bs_icon 'dash-square-dotted' %} Wyloguj
                                    </span>
                                </button>
                            </form>
                        </li>
                    
                    {% else %}

                        {% comment %} Login {% endcomment %}
                        <li class="nav-item d-md-none">
                            <a class="nav-link" href="{% url 'users:login' %}">
                                <span>
                                    {% bs_icon 'check-circle' %} Logowanie
                                </span>
                            </a>
                        </li>
                        <li class="nav-item mx-2 d-none d-md-inline">
                            <a class="btn btn-secondary" href="{% url 'users:login' %}">
                                <span aria-label="Login" title="Login">
                                    {% bs_icon 'check-circle' %} Logowanie
                                </span>
                            </a>
                        </li>

                        {% comment %} Signin {% endcomment %}
                        <li class="nav-item d-md-none">
                            <a class="nav-link" href="{% url 'users:register' %}">
                                <span aria-label="Signin" title="Signin">
                                    {% bs_icon 'sign-intersection-fill' %} Rejestracja
                                </span>

                            </a>
                        </li>
                        <li class="nav-item mx-2 d-none d-md-inline">
                            <a class="btn btn-outline-secondary" href="{% url 'users:register' %}">
                                <span aria-label="Signin" title="Signin">
                                    {% bs_icon 'sign-intersection-fill' %} Rejestracja
                                </span>
                            </a>
                        </li>

                    {% endif %}
                    
                    {% comment %} <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {% bs_icon 'substack' %} Więcej
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item disabled" href="#">1</a></li>
                            <li><a class="dropdown-item disabled" href="#">2</a></li>
                            <li><a class="dropdown-item disabled" href="#">3</a></li>
                        </ul>
                    </li> {% endcomment %}
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>
